<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="/aaaaaaa.png" type="image/x-icon">
            <title>pro</title>
 
  <link href="/assets/css/main.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
</head>

        </head>
        <body >
                
            <div class="container">
            <div class="sidebar">
                <ul>
                    <li class="logo" style="--bg: #333;">
                        <a href="#">
                            <div class="icon"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                            <div class="text">QUANTIFY</div>
                        </a>
                    </li>
                    <li style="--bg:#ffa117;" class="active">
                        <a href="./inicio">
                            <div class="icon"><ion-icon name="home-outline"></ion-icon></div>
                            <div class="text">Inicio</div>
                        </a>
                    </li>
                    <li style="--bg:#29b3bd;">
                        <a href="./notificacion" >
                            <div class="icon"><ion-icon name="person-outline"></ion-icon></div>
                            <div class="text">Usuarios</div>
                        </a>
                    </li>
                    <li style="--bg:#0be633;">
                        <a href="./table">
                            <div class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></div>
                            <div class="text">Mensajes</div>
                        </a>
                    </li>
                    <li style="--bg:#e41aab;">
                        <a href="./inicio.ejs">
                            <div class="icon"><ion-icon name="stats-chart-outline"></ion-icon></div>
                            <div class="text">Analiticas</div>
                        </a>
                    </li>
                    <li style="--bg:#e20e0e;">
                        <a href="./rtl.html">
                            <div class="icon"><ion-icon name="calendar-outline"></ion-icon></div>
                            <div class="text">Calendario</div>
                        </a>
                    </li>
                    <li style="--bg:#0011ff;">
                        <a href="./upgrade.html">
                            <div class="icon"><ion-icon name="settings-outline"></ion-icon></div>
                            <div class="text">Configuracion</div>
                        </a>
                    </li>
                    </div>
                </div>
        
                <div class="main">
                    <div class="topbar">
                        <div class="MenuTogle">
                        </div>
                        <!-- serach -->
                        <div class="search">
                            <label>
                                <input type="text" placeholder="Buscar">
                                <ion-icon name="search-outline"></ion-icon>
                            </label>
                        </div>
                        <!-- userimg -->
                        <div class="user">
                            <img src="/assets/img/yooooooo.jpg" alt="">
                        </div>
                    </div>


 <!-- contenido pricipal de las vistas -->

 <%-body%>

 <!-- fin contenido -->
                </div>


             </div>
        </div>
                
        <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
        
            <!-- script iconos-->
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    </body>
    </html>
    


