

    
       <!---------------card------------------------------------ -->
       <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">1,950</div>
                <div class="cardName">Usuarios</div>
            </div>
            <div class="iconBox">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">150</div>
                <div class="cardName">Profesores</div>
            </div>
            <div class="iconBox">
                <ion-icon name="glasses-outline"></ion-icon>                   
             </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">1,800</div>
                <div class="cardName">Estudiantes</div>
            </div>
            <div class="iconBox">
                <ion-icon name="person-circle-outline"></ion-icon>                     
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">22</div>
                <div class="cardName">Cordinadores</div>
            </div>
            <div class="iconBox">
                <ion-icon name="people-outline"></ion-icon>                 
               </div>
        </div>

     </div>
     
