



<!-- tabla crud -->
<div class="Datails">
    <div class="RecentOrder">
        <div class="cardHeader">
            <h2>Usuarios</h2>
            <a href="/User" class="btn">Agregar</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Email</td>
                    <td>Rol</td>
                    <td>Activo</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Estudiante</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Estudiante</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Estudiante</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Estudiante</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Estudiante</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Profesor</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
                <tr>
                    <td>Juan Diego</td>
                    <td>Archila Leon</td>
                    <td>juandiegoarchilaeon@gmail.com</td>
                    <td>Estudiante</td>
                    <td><span class="status delivered">si</span></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>