@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif'; 
}

:root {
    --clr: #f8f3f9;
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    background: var(--clr);
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    background: #299be7;
    transition: 0.5s;
    padding-left: 10px;
    overflow: hidden;
}

.sidebar.active {
    width: 80px;
}

.sidebar ul {
    position: relative;
    height: 100vh;
    z-index: 1;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sidebar ul li:nth-child(1){
    margin-bottom: 4px;
    pointer-events:none;
}

.sidebar ul li:hover,
.sidebar ul li.hovered{
    background: var(--clr);
}

/* curva */
.sidebar ul li:hover a::before,
.sidebar ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--clr);
    pointer-events: none;
}

.sidebar ul li:hover a::after,
.sidebar ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--clr);
    pointer-events: none;
}

.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo .icon {
    font-size: 2em;
    color: var(--clr);
}

.sidebar ul li.logo .text {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr);
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text {
    color: var(--bg);
}


.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo .icon {
    font-size: 2em;
    color: var(--clr);
}

.sidebar ul li.logo .text {
    font-size: 1.2em;
    font-weight: 500;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex ;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 1px;
    height: 50px;
    font-size: 1.5em;
    color: #333;
    transition: 0.5s;
    margin-top: 5px;
}

.sidebar ul li a .text {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    text-transform: uppercase;
    text-transform: 0.05em;
    transition: 0.5s;
    margin-top: 4px;
}


.sidebar ul li.active a .icon::before {
    content: "";
    position: absolute;
    inset: 5px;
    width: 50px;
    border-radius: 50%;
    transition: 0.5s;
}


.botoon {
    position: absolute;
    bottom: 50px;
    width: 100%;    
}

.lau {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.lau img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text1 {
    position: absolute;
    margin-top: 45px;
    margin-left: 80px;
}

.imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBx img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.MenuTogle {
    position: absolute;
    width: 200px; 
    left: 10px; 
    transition: 0.5s;
}

.MenuTogle.active {
    
    width: 20px;
    left: 20px; 
}

.MenuTogle {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuTogle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #299be7;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #299be7;
}

.MenuTogle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #299be7;
    transform: translateY(9px);
    transition: 0.5s;
}

.MenuTogle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

.MenuTogle.active::after {
    transform: translateY(0px) rotate(-45deg);
    background: #299be7;
}








/* main */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--clr);
    transition: 0.5s;

}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar{
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
/* menu hambuerguesa */
.MenuTogle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    
}


.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
    left: 30px;

}
.search label{ 
    position: relative;
    width: 100%;
}
.search label input{
    width: 90%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;

}

.user{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* cardBox */

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;

}

.cardBox .card .iconBox{
    font-size: 3.5em;
    color: var(--black2);
}
.cardBox .card:hover{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: var(--white);

}




/* tabla crud */

.Datails{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.Datails .RecentOrder{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.Datails table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}
.Datails table thead td{
    font-weight: 600;
}
.Datails .RecentOrder table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.Datails .RecentOrder table tbody tr:last-child{
    border-bottom: none;
}
.Datails .RecentOrder table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
}
.Datails .RecentOrder table tr td{
    padding: 10px;

}
.Datails .RecentOrder table tr td:last-child{
    text-align: end;
}
.Datails .RecentOrder table tr td:nth-child(2){
    text-align: end;
}
.Datails .RecentOrder table tr td:nth-child(3){
    text-align: center;
}
.status.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

}
.status.pending{
    padding: 2px 4px;
    background: #0ec821;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

}
.status.retur{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

}
.status.progre{
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

}


/* tabla dos crud */

.recentCustomer{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 60px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.recentCustomer .imgBxx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentCustomer .imgBxx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomer table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.recentCustomer table tr td {
    padding: 12px 10px;
    margin-top: 150px;
}
.recentCustomer table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomer table tr td h4 span{
    font-size: 14px;
    color: var(--black2);

}
.recentCustomer table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.recentCustomer table tr:hover td h4 span{
    color: var(--white);

}


/* responsive dasign */

@media(max-width: 991px)
{
    .sidebar{
        left: -300px;
    }
    .sidebar.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px; 

    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}

/* fin menu hambuerguesa */

@media(max-width: 691px){
    .Datails{
        grid-template-columns: repeat(1,1fr);

    }
    .RecentOrder{
        overflow-x: auto;
    }
    .cardBox{
        font-size: 10px;

    }
   
  
}

/* medida compuadoras peuqeñas */


@media (max-width: 1465px){
    .Datails{
        grid-template-columns: repeat(1,1fr);

    }
 
   
}




@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
  
    .cardHeader h4{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .sidebar{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .sidebar.active{
        width: 100%;
        left: 0;
    }
    .MenuTogle{
        z-index: 10001;
    }
    .main.active .MenuTogle{
        position: fixed;
        left: 0;
        left: initial;
        color: var(--white);
    }
    .main.active .MenuTogle::after{
        position: fixed;
        right: 0;
        left: initial;
        background-color: var(--white);
    }
    .main.active .MenuTogle::before{
        position: fixed;
        right: 0;
        left: initial;
        background-color: var(--white);
    }
}